<div class="main">
    <div class="mb-5">
        <img src="../../../assets/Voicely.png" class="col-md-12" alt="Voicely">
    </div>
   <div class="col-md-12 row my-5 ">
        <div class="col-md-12">
          <nb-card status="danger">
  <nb-card-header>Problems</nb-card-header>
  <nb-card-body>
    <ul>
        <li class="font-weight-bold">We can understand the English language very well while when it comes to speaking or interaction, almost 50% of us make grammatical Mistakes.</li><br>
        <li class="font-weight-bold">Doing grammatical mistakes in professional communications leads to a bad impact and ends up with low confidence of speaker.</li><br>
        <li class="font-weight-bold">Students don't have adequate resources to improve their grammatical or pronunciation mistakes in real-time while speaking.</li><br>
        <li class="font-weight-bold">There is no application which checks your verbal communication skills and corrects you or gives you feedback.</li><br>
    </ul>
  </nb-card-body>
  <!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
</nb-card>
        </div>
        <!-- <div class="col-md-5">
            <img src="../../../assets/problem.jpg" alt="problem" class="col-md-8">
        </div> -->
   </div>

   <div class="col-md-10 m-auto">
    <img src="../../../assets/Voicely-Story.png" alt="story" class="col-md-12">
   </div>

<div class="text-center m-5 p-3">
    <h6>Made with ❤️ by Team <span style="color: coral;">The_Pack</span> during Rackathon 2021</h6>
</div>

</div>

