*__pycache__

# Deep Learning Models
*pretrained.pt


# Environments
.venv
env/

# IPython
profile_default/
ipython_config.py

# Fast API Git Inore
.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
