<div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>
<nb-card [nbSpinner]="showOverlay">
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Upload Audio</ng-template>
          <h4>Welcome to the First step.</h4>
           
          <p class="lorem">
            Either record your audio by clicking the button below or upload a pre-recorded text.
          </p>

          <div class="col-md-6 m-auto">
            <div class="card-body">
              <h5 class="text-center"> Voicely Recorder </h5>
              <div class="text-center">
                <button type="button" class="btn btn-success p-2 m-2">Start Recording</button> 
                <button type="button" class="btn btn-danger p-2 m-2">Stop Recording</button>
              </div>
            </div>
          </div>
          <hr/>
          <div class="col-md-6 m-auto">
            <div class="card-body">
              <h5 class="text-center"> Voicely Uploader </h5>
              <div class="text-center">
                <form [formGroup]="audioUploadForm" class="form-group">
                  <input type="file" class="form-control-file"  accept="video/mp4,image/png,image/jpeg,mp3,wav" (change)="onUpload($event)" formControlName="audio" />
                  <!-- <button type="submit"> Upload</button> -->
                </form>
              </div>
            </div>
          </div>
          

          <br><br>
          <button nbButton disabled nbStepperNext>prev</button>&nbsp;
          <button nbButton nbStepperNext (click)="sendAudioFile()">next</button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Correction</ng-template>
          <h4>Corrected Transcript</h4>
          <p class="lorem">
            Your audio has been corrected by our smart AI-assistant. Please re-verify the correction.
            <br><br>
            <i>If you want, you can even change the text altogether.</i>
          </p>
          <form [formGroup]="correctedTextForm" class="form-group col-md-10 container">
            <div>
              <label>Original Transcript</label>
              <textarea disabled formControlName="inputText" rows="5" class="form-control"></textarea>
            </div>  
            
            <div>
              <label>Corrected transcript</label>
              <textarea formControlName="correctedText" rows="5" class="form-control"></textarea>
            </div>
          </form>

          <button nbButton nbStepperPrevious>prev</button>&nbsp;
          <button nbButton nbStepperNext (click)="cloneAudio()">next</button>
        </nb-step>
        <nb-step label="Third step">
          <h4>Corrected Voice!</h4>
          <p class="lorem">
            Hey there, I have converted your audio and corrected it to the best format. <br><br>
            <b>Go ahead and listen to it. You can also download it.</b>
          </p>
          <div class="container text-center m-3">
            <audio controls style="width: 600px;" [src]="s3Link">
              Your browser does not support the
              <code>audio</code> element.
            </audio>
          </div>
          <button nbButton nbStepperPrevious>prev</button>&nbsp;
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour>Fourth step</ng-template>
          <h4>Hurray, you have successfully smartened your audio speech !</h4>
          <p class="lorem">
            More information on this input audio will be shown in statistics and history. <br>
            Do Check it out, for a better analysis !
          </p>
          <button nbButton nbStepperPrevious>prev</button>&nbsp;
          <button nbButton disabled nbStepperNext>next</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>