<nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne">
          <ng-template #labelOne>First step</ng-template>
          <h4>Welcome to the First step.</h4>
           
          <p class="lorem">
            Either record your audio by clicking the button below or upload a pre-recorded text.
          </p>

          <div class="col-md-6 m-auto">
            <div class="card-body">
              <h5 class="text-center"> Voicely Recorder </h5>
              <div class="text-center">
                <button type="button" class="btn btn-success p-2 m-2">Start Recording</button> 
                <button type="button" class="btn btn-danger p-2 m-2">Stop Recording</button>
              </div>
            </div>
          </div>
          <hr/>
          <div class="col-md-6 m-auto">
            <div class="card-body">
              <h5 class="text-center"> Voicely Uploader </h5>
              <div class="text-center">
                <form [formGroup]="audioUploadForm" >
                  <input type="file"  accept="video/mp4,image/png,image/jpeg,mp3,wav" (change)="onUpload($event)" formControlName="audio" />
                  <!-- <button type="submit"> Upload</button> -->
                </form>
              </div>
            </div>
          </div>
          

          <br><br>
          <button nbButton disabled nbStepperNext>prev</button>
          <button nbButton nbStepperNext (click)="sendAudioFile()">next</button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Second step</ng-template>
          <h4>Upload Audio</h4>
          <p class="lorem">
            Great, you are here then you must have something already recorded to feed Voicely. In case, you don't have or wanted to record again, visit step 1.
          </p>
            <textarea nbInput [value]="convertedText"></textarea><br>


          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext (click)="cloneAudio()">next</button>
        </nb-step>
        <nb-step label="Third step">
          <h4>Preview Content & listen to your voice</h4>
          <p class="lorem">
            Look how you have spoken and verify is this the same audio, you want to convert via Voicely.
          </p>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour>Fourth step</ng-template>
          <h4>Let's Voicely :)</h4>
          <p class="lorem">
            Look at the magic of Voicely !!!
          </p>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton disabled nbStepperNext>next</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>